<a href="https://colab.research.google.com/github/Shufen-Yin/Artificial-Intelligence/blob/main/Lesson_4_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

My Colab Notebook link:https://colab.research.google.com/drive/1J0NbZELJlHbq_7QmAyj6XndcGnkiMwbf?usp=sharing

My GitHub reposition link: https://github.com/Shufen-Yin/Lesson-4-assignment

# **Lesson 4 Assignment**
### **Data Processing - Python Development and Pandas**

**Copy each task (including'Your code here:') to a different cell and complete the codes for each task. Add  your own comments where necessary**

Remember to push your changes to github and submit a PDF copy of your completed notebook with the outputs.

In [ ]:
# Task 1: Create a DataFrame
import pandas as pd
import numpy as np
from functools import reduce

In [ ]:

# Task 1: Create a DataFrame using Pandas
# Create a DataFrame with the following data:
# Name: Alice, Bob, Charlie, David
# Age: 25, 30, 35, 28
# City: New York, San Francisco, Los Angeles, Chicago

# Your code here:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
print(df)
print(df.dtypes)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago
Name    object
Age      int64
City    object
dtype: object

In [ ]:
# Task 2: Row and Column Manipulation
# Drop the 'City' column
# You code is here:
df_no_city = df.drop('City', axis=1)  # axis=1 specifies column drop
print("Task 2 - DataFrame after dropping 'City' column:")
print(df_no_city)

print(f"Columns: {list(df_no_city.columns)}")
print()

Task 2 - DataFrame after dropping 'City' column:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28
Columns: ['Name', 'Age']

In [ ]:
# Task 3: Handling Null Values
# Create a new DataFrame with some null values and fill them

# Your code here:
data_with_nulls = {
    'Name': ['Alice', 'Bob', None, 'David'],
    'Age': [25, None, 35, 28],
    'City': ['New York', None, 'Los Angeles', 'Chicago']
}

df_nulls = pd.DataFrame(data_with_nulls)
print(df_nulls)

# Fill missing velue appropricately

print("\n df after filled missing value:\n")
df_filled = df_nulls.copy()
df_filled["Name"]=df_nulls["Name"].fillna("Unknow")
df_filled["Age"] =df_nulls["Age"].fillna(0)
df_filled['City'] = df_nulls["City"].fillna("Unknown")
print(df_filled)

    Name   Age         City
0  Alice  25.0     New York
1    Bob   NaN         None
2   None  35.0  Los Angeles
3  David  28.0      Chicago

 df after filled missing value:

     Name   Age         City
0   Alice  25.0     New York
1     Bob   0.0      Unknown
2  Unknow  35.0  Los Angeles
3   David  28.0      Chicago

In [ ]:
# Task 4: GroupBy and Describe
# Using the following DataFrame, group by 'Category' and describe the 'Value' column

df_group = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'B', 'A', 'C'],
    'Value': [10, 20, 15, 25, 30, 35]
})

# Your code here:
print(df_group)

print("\n Groupy Category describe:\n")
grouped_stats = df_group.groupby('Category')['Value'].describe()
print(grouped_stats)

  Category  Value
0        A     10
1        B     20
2        A     15
3        B     25
4        A     30
5        C     35

 Groupy Category describe:

          count       mean        std   min    25%   50%    75%   max
Category
A           3.0  18.333333  10.408330  10.0  12.50  15.0  22.50  30.0
B           2.0  22.500000   3.535534  20.0  21.25  22.5  23.75  25.0
C           1.0  35.000000        NaN  35.0  35.00  35.0  35.00  35.0

In [ ]:
# Task 5: Concatenation and Merging
# Concatenate two DataFrames vertically and merge them horizontally

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
df3 = pd.DataFrame({'C': [9, 10], 'D': [11, 12]})

# Your code here:
# Concatenate vertically
df_vertical = pd.concat([df1,df2],axis=0,ignore_index = True)
print(df_vertical)

# Merge horizontally
df_horizontal = pd.concat([df_vertical,df3],axis=1)
print(df_horizontal)

print(f"Final shape: {df_horizontal.shape}")
print()

   A  B
0  1  3
1  2  4
2  5  7
3  6  8
   A  B     C     D
0  1  3   9.0  11.0
1  2  4  10.0  12.0
2  5  7   NaN   NaN
3  6  8   NaN   NaN
Final shape: (4, 4)

In [ ]:
# Task 6: Tuples and Sets
# Create a tuple of fruits and a set of numbers.
# Then, try to add an element to each and observe the difference.

# Your code here:
# Create tuple and set
fruits_tuple = ('apple', 'banana', 'orange')
numbers_set = {1, 2, 3, 4, 5}

print(f"Original tuple: {fruits_tuple}")
print(f"Original set: {numbers_set}")

# Try to add elements
try:
    # Tuples are immutable - this will raise an error if we try to modify in-place
    fruits_tuple += ('grape',)  # This actually creates a new tuple
    print(f"After += operation: {fruits_tuple}")
except Exception as e:
    print(f"Cannot modify tuple directly: {e}")

# Alternative way to demonstrate tuple immutability
try:
    # This will definitely fail - trying to modify tuple element directly
    fruits_tuple[0] = 'kiwi'
except TypeError as e:
    print(f"Cannot modify tuple elements: {e}")

# Create a new tuple with additional element
new_fruits_tuple = fruits_tuple + ('grape',)
print(f"New tuple after addition: {new_fruits_tuple}")

# Sets are mutable - we can add elements directly
numbers_set.add(6)
print(f"Modified set after adding 6: {numbers_set}")

# Add another element to set
numbers_set.add(7)
print(f"Modified set after adding 7: {numbers_set}")

print("\nExplanation:")
print("- Tuples are immutable: cannot be changed after creation")
print("- Sets are mutable: can add/remove elements after creation")
print("- When we use += with tuples, it creates a new tuple object")
print("- Sets use methods like add() to modify the original set")

Original tuple: ('apple', 'banana', 'orange')
Original set: {1, 2, 3, 4, 5}
After += operation: ('apple', 'banana', 'orange', 'grape')
Cannot modify tuple elements: 'tuple' object does not support item assignment
New tuple after addition: ('apple', 'banana', 'orange', 'grape', 'grape')
Modified set after adding 6: {1, 2, 3, 4, 5, 6}
Modified set after adding 7: {1, 2, 3, 4, 5, 6, 7}

Explanation:
- Tuples are immutable: cannot be changed after creation
- Sets are mutable: can add/remove elements after creation
- When we use += with tuples, it creates a new tuple object
- Sets use methods like add() to modify the original set

In [ ]:
# Task 7: Dictionaries
# Create a dictionary of student names and their scores.
# Then, update a student's score and add a new student.

# Your code here:
# Create student dictionary
students = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 78
}

print(f"Original dictionary: {students}")

# Update existing student score
students['Bob'] = 95
print(f"After updating Bob's score: {students}")

# Add new student
students['David'] = 88
print(f"After adding David: {students}")
print()

Original dictionary: {'Alice': 85, 'Bob': 92, 'Charlie': 78}
After updating Bob's score: {'Alice': 85, 'Bob': 95, 'Charlie': 78}
After adding David: {'Alice': 85, 'Bob': 95, 'Charlie': 78, 'David': 88}

In [ ]:
# Task 8: Functions and Lambda
# Create a function to calculate the square of a number.
# Then, use a lambda function to do the same.

# Your code here:
# Regular function
def square_number(x):
    """Calculate the square of a number."""
    return x ** 2

# Lambda function
square_lambda = lambda x: x ** 2

print(f"Regular function - square of 5: {square_number(5)}")
print(f"Regular function - square of 8: {square_number(8)}")
print(f"Lambda function - square of 5: {square_lambda(5)}")
print(f"Lambda function - square of 8: {square_lambda(8)}")
print()

Regular function - square of 5: 25
Regular function - square of 8: 64
Lambda function - square of 5: 25
Lambda function - square of 8: 64

In [ ]:
# Task 9: Iterators and Generators
# Create an iterator for the first 5 even numbers.
# Then, create a generator for the same.

# Your code here:
# Iterator class for even numbers
class EvenNumberIterator:
    def __init__(self, count):
        self.count = count
        self.current = 0
        self.generated = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.generated >= self.count:
            raise StopIteration
        result = self.current
        self.current += 2
        self.generated += 1
        return result

# Generator function for even numbers
def even_number_generator(count):
    current = 0
    generated = 0
    while generated < count:
        yield current
        current += 2
        generated += 1

print("Using iterator:")
even_iterator = EvenNumberIterator(5)
for num in even_iterator:
    print(num, end=" ")

print("\nUsing generator:")
even_gen = even_number_generator(5)
for num in even_gen:
    print(num, end=" ")
print("\n")

Using iterator:
0 2 4 6 8
Using generator:
0 2 4 6 8

In [ ]:
# Task 10: Map, Reduce, and Filter
# Use map to square all numbers in a list.
# Use reduce to find the product of all numbers in a list.
# Use filter to get only even numbers from a list.

numbers = [1, 2, 3, 4, 5]

# Your code here:

# Map - square all numbers
squared_numbers = list(map(lambda x: x ** 2, numbers))

# Reduce - product of all numbers
product = reduce(lambda x, y: x * y, numbers)

# Filter - even numbers only
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print(f"Original numbers: {numbers}")
print(f"Squared numbers (map): {squared_numbers}")
print(f"Product of all numbers (reduce): {product}")
print(f"Even numbers (filter): {even_numbers}")
print()

Original numbers: [1, 2, 3, 4, 5]
Squared numbers (map): [1, 4, 9, 16, 25]
Product of all numbers (reduce): 120
Even numbers (filter): [2, 4]

In [ ]:
# Task 11: Object-Oriented Programming - Creating a Class
# Create a class called 'Rectangle' with attributes 'length' and 'width'.
# Include methods to calculate area and perimeter.

# Your code here:

class Rectangle:
    def __init__(self, length, width):
        # Validate inputs
        if length <= 0 or width <= 0:
            raise ValueError("Length and width must be positive numbers")
        self.length = length
        self.width = width

    def area(self):
        """Calculate and return the area of the rectangle."""
        return self.length * self.width

    def perimeter(self):
        """Calculate and return the perimeter of the rectangle."""
        return 2 * (self.length + self.width)

    def __str__(self):
        return f"Rectangle(length={self.length}, width={self.width})"

# Create rectangle objects
rect1 = Rectangle(5, 3)
rect2 = Rectangle(7, 4)

print(f"Rectangle 1: {rect1}")
print(f"Area: {rect1.area()}")
print(f"Perimeter: {rect1.perimeter()}")

print(f"\nRectangle 2: {rect2}")
print(f"Area: {rect2.area()}")
print(f"Perimeter: {rect2.perimeter()}")
print()

Rectangle 1: Rectangle(length=5, width=3)
Area: 15
Perimeter: 16

Rectangle 2: Rectangle(length=7, width=4)
Area: 28
Perimeter: 22

In [ ]:
# Task 12: Pandas Data Analysis
# Using the following DataFrame, perform these tasks:
# 1. Find the average salary by department
# 2. Get the names of employees with salary > 60000
# 3. Add a new column 'Bonus' which is 10% of salary

df_employees = pd.DataFrame({
    'Name': ['John', 'Jane', 'Bob', 'Alice', 'Charlie'],
    'Department': ['IT', 'HR', 'IT', 'Finance', 'HR'],
    'Salary': [55000, 65000, 70000, 60000, 58000]
})

# Your code here:

print("Original employee data:")
print(df_employees)

# 1. Average salary by department
avg_salary_by_dept = df_employees.groupby('Department')['Salary'].mean()
print(f"\n1. Average salary by department:\n{avg_salary_by_dept}")

# 2. Employees with salary > 60000
high_earners = df_employees[df_employees['Salary'] > 60000]['Name']
print(f"\n2. Employees with salary > 60000:\n{high_earners.tolist()}")

# 3. Add Bonus column (10% of salary)
df_employees['Bonus'] = df_employees['Salary'] * 0.1
print(f"\n3. DataFrame with Bonus column:")
print(df_employees)

Original employee data:
      Name Department  Salary
0     John         IT   55000
1     Jane         HR   65000
2      Bob         IT   70000
3    Alice    Finance   60000
4  Charlie         HR   58000

1. Average salary by department:
Department
Finance    60000.0
HR         61500.0
IT         62500.0
Name: Salary, dtype: float64

2. Employees with salary > 60000:
['Jane', 'Bob']

3. DataFrame with Bonus column:
      Name Department  Salary   Bonus
0     John         IT   55000  5500.0
1     Jane         HR   65000  6500.0
2      Bob         IT   70000  7000.0
3    Alice    Finance   60000  6000.0
4  Charlie         HR   58000  5800.0